<form *ngIf="product" >
  <div class="form-group">
    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre" [(ngModel)]="product.nombre" required>
  </div>
  <div class="form-group">
    <label for="precio">Precio:</label>
    <input type="number" name="precio" [(ngModel)]="product.precio" required>
  </div>
  <div class="form-group">
    <label for="descripcion">Descripci&oacute;n:</label>
    <textarea rows="4" name="descripcion" [(ngModel)]="product.descripcion" required></textarea>
  </div>
  <br/>
  <button class="edit" title="edit product" (click)="save()">Guardar</button>
  
</form>

<br/>

<button (click)="goBack()">Volver</button>

<app-messages></app-messages>