<div *ngIf="product">
	<div><span>Nombre: </span>{{product.nombre}}</div>
	<div><span>Precio: </span>{{product.precio}}</div>
	<div><span>Descripci&oacute;n: </span>{{product.descripcion}}</div>
	<div><span>Visitas: </span>{{product.visitas}}</div>
	
	<button><a routerLink="/editar-producto/{{product.id}}">Editar</a></button>
	<button class="delete" title="delete producto" (click)="delete()">Eliminar</button>
</div>

<button (click)="goBack()">Volver</button>